:root {
  --screen-width:     100%;
  --splash-bg-color:  #51aac5;
}

// calculate a circle's circumference based on radius
@function circumference($r){
  $pi: 3.141592653;
  @return 2*$pi*$r;
}


// ---------------------------
// Main Navigation Menu
// ---------------------------
.header {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.navbar {
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: height .3s ease-in;
  
  // Toggle Button
  &__toggle {
    display:inline-block;
    position:absolute;
    z-index:10;
    padding:0;
    border:0;
    background-color:rgba(0,0,0,.4);
    outline:0;
    right:15px;
    top:15px;
    cursor:pointer;
    border-radius:50%;
    transition:background-color .15s linear;

    &-main {
      background: transparent;

      &:hover,
      &:focus {
        background-color:rgba(0,0,0,.5);
      }
    }
  }
  
  &__menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:var(--screen-height);
    list-style: none;
    position:relative;
    z-index:5;
    padding-left: 0;
    visibility:hidden;
  }
  
  &__item {
    opacity:0;
    transition: all .3s cubic-bezier(0.000, 0.995, 0.990, 1.000) .3s;
  }
  @for $i from 1 through 5 {
    &__item:nth-child(#{$i}){
      transform:translateY(-40px * $i);
    }
  }
  
  &__link {
    width: 100%;
    color:white;
    display:block;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:1.75rem;
    font-family: "Montserrat", sans-serif;
    text-decoration:none;
    padding:1rem;
    background-color: transparent;
    text-align: center;
    text-shadow: black 0px 5px 10px;
    margin-bottom: 1rem;
    border: none;
    
    &:hover,
    &:focus {
      outline:0;
      background-color:rgba(0,0,0,0.2);
    }

    &-main {
      font-size: 2.1rem;
    }

    &_active {
      font-weight: 700;
    }
  }

  &__lang-switcher {
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
    z-index: 5;
    list-style: none;

    &-separator {
      display: block;
      height: 100%;
      border: 1px solid white;
    }
  }

  &__lang-link {
    color: white;
    font-size: 1.75rem;
    text-shadow: black 0px 5px 10px;
  }

  @media (max-width: 480px) {
    &__link {
      font-size: 1.25rem;
    }

    &__link-main {
      font-size: 1.5rem;
    }

    &__lang-link {
      font-size: 1.45rem;
    }
  }
}


// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display:block;
  cursor:pointer;
  color: white;
  
  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
  
  &__bar,
  &__circle {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }

  @media (max-width: 768px) {
    & {
        width: 60px;
        height: 60px;
    }
  }

  @media (max-width: 480px) {
    & {
        width: 50px;
        height: 50px;
    }
  }
}


// ---------------------------
// Circular Splash Background
// ---------------------------

.splash {
  position:absolute;
  top:40px;
  right:40px;
  width: 1px;
  height: 1px;
  
  &::after {
    content:"";
    display:block;
    position:absolute;
    border-radius:50%;
    background-color:var(--splash-bg-color);
    z-index: 1;
    
    // screen diameter can be 142vmax at most,
    // circle needs to be twice that size to cover it
    width:284vmax;
    height:284vmax;
    top:-142vmax;
    left:-142vmax;
    
    transform: scale(0);
    transform-origin:50% 50%;
    transition: transform .5s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    
    // will-change tells the browser we plan to 
    // animate this property in the near future
    will-change:transform;
  }
}


// ---------------------------
// Active State
// ---------------------------

.navbar:target,
.navbar--open {
  height: 100vh;
  
  //scale the background circle to full size
  > .splash::after {
    transform:scale(1);
  }
  
  //animate the menu icon
  .menuicon {
    color:white;
    transform:rotate(180deg);
    
    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
  
  //show the navbar items
  .navbar {
    &__menu {
      visibility:visible;
    }
  
    &__item {
      opacity:1;
      transform:translateY(0);
    }
  }
}